.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  text-align: center;
  padding: 0 20px;
}

.heading {
  color: #f1f1f1;
  font-size: 3rem;
  font-weight: 700;
}

.btn {
  background-color: #f1f1f1;
  color: #333;
}

.logo {
  margin: 2em;
  max-width: 100px;
}
